h1 {
  font-size: 2rem;
  text-align: center;
}

/* Extra small devices (phones, 600px and down)  */
@media (max-width: 600px) {
  h1 {
    color: purple;
    font-size: 1rem;
  }
}

/* small devices (portait tablets and large phones, 600px and up  */
@media (min-width: 601px) and (max-width: 767px) {
  h1 {
    color: cyan;
    font-size: 2rem;
  }
}

/* Medium devices (landscape tablets, 768px and up */
@media (min-width: 768px) and (max-width: 991px) {
  h1 {
    color: maroon;
    font-size: 3rem;
  }
}

/* Large devices (laptops/desktops, 992px and up */
@media (min-width: 992px) and (max-width: 1199px) {
  h1 {
    color: teal;
    font-size: 4rem;
  }
}
